# Ignore Flutter and UI packages
apps/
packages/
android/
ios/
linux/
macos/
windows/
web/
.dart_tool/

# Ignore node modules
node_modules/
*/node_modules/

# Ignore env files
.env
.env.*
*.local

# Ignore build artifacts
dist/
build/
.cache/

# Git
.git/
.github/

# VS Code
.vscode/
